/* #components-form-demo-normal-login .login-form {
    max-width: 300px;
  }
#components-form-demo-normal-login .login-form-forgot {
    float: right;
}
#components-form-demo-normal-login .ant-col-rtl .login-form-forgot {
    float: left;
}
#components-form-demo-normal-login .login-form-button {
    width: 100%;
} */
.pb-2 {
    padding-bottom: 10px;
}
input {
    height: 30px;
}
.login-wrapper {
    width: 100%;
    height: 100vh;
    /* background-color: ; */
    background: #f0f2f5 url('./../../assets/images/bg.svg') no-repeat center;
}
.login-form-button {
    width: 100%;
    margin-top: 15px;
}
.register {
    color: #1890ff
}

